@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.body {
  font-family: "Montserrat";
}

.creations-images-all-creations {
  height: 17rem;
  width: 17rem;
  object-fit: cover;
  filter: drop-shadow(0px 0.5px 10px rgba(255, 255, 255, 0.15));
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

/* .hide {
  display: none;
} */

.creations-images-all-creations:hover {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://res.cloudinary.com/dzkbycvev/image/upload/v1670182659/creation-details_ut1o7q.png)
    no-repeat; /* this image will be shown over the image iSRC */
  width: 180px;
  height: 236px;
  padding-left: 180px;
  /*content: url("https://res.cloudinary.com/dzkbycvev/image/upload/v1670182659/creation-details_ut1o7q.png");
  filter: saturate(0);
   display: block;
  color: red;*/
}

.all-creations-home-page {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.artist-details {
  font-family: "Montserrat";
}

.creation-paragraph-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  /* or 128% */

  color: rgba(255, 255, 255, 0.6);
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

/*.creations-images-all-creations-container {
  position: relative;
  padding: 0;
  width: 20rem;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.creations-images-all-creations-focus-container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.creations-images-all-creations-container
  .creations-images-all-creations-focus-container:hover {
  opacity: 1;
}

.creations-images-all-creations-container
  .creations-images-all-creations-focus-container
  .creations-images-all-creations-focus-image {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.creations-images-all-creations-container
  .creations-images-all-creations-focus-container:hover
  .creations-images-all-creations-focus-image {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}*/
